
@{
    ViewBag.Title = "注册成功";
    Layout = "~/Areas/M/Views/Shared/_Layout.cshtml";
}


<div class="divContent" style="margin-top:0.6rem;">

    <div style="margin-left:0.15rem;margin-right:0.15rem;">
        <div style="float:left;color:#4699EC">
            提示
        </div>
        <div style="float:right">
            <a href="http://wx.shengxunwei.com/M" style="color:#FF794C;font-size:0.14rem;text-decoration:none">访问官网 ></a>
        </div>
        <div style="clear:both">
        </div>
    </div>

    <div class="divDotLine" style="margin-top:0.1rem; margin-bottom:0.1rem;">
    </div>

    <div style="margin-top:0.2rem; margin-left:0.15rem;margin-right:0.15rem;">
        注册成功。
    </div>

    <div style="margin-top:0.2rem; margin-left:0.15rem;margin-right:0.15rem;">
        请首先使用电脑登录管理后台，按画面引导完成微信对接。
    </div>

    <div style="margin-top:0.2rem; margin-left:0.15rem;margin-right:0.15rem;">
        http://wx.shengxunwei.com
    </div>

</div>