@{
    ViewBag.MainMenu = "Pay";
    ViewBag.LeftMenu = "OneDollarBuyingCommodity";

    ViewBag.Title = "1元夺宝";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script language="javascript">

    //当前页
    var _currentPage = 1;

    $(document).ready(function ()
    {
        if (_online == false)
            return;

        loadData();

        $("[keyenter]").keypress(function (e)
        {
            if (e.keyCode == 13)
            {
                loadData();
            }
        });
    });

    function loadData(targetPage)
    {
        var loadLayerIndex = layer.load(0, {
            shade: [0.2, '#fff']
        });

        var args = new Object();
        args.Page = targetPage || 1;
        args.Name = $("#txtSearch_Name").val();

        $.ajax({
            url: "/Api/OneDollarBuying/GetCommodityList",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(args),
            success: function (data, status, jqXHR)
            {
                // alert(data);

                layer.close(loadLayerIndex);
                if (data.Success)
                {
                    var resultObj = data.Data;

                    _currentPage = resultObj.Page;

                    //alert(JSON.stringify(resultObj));
                    var gettpl = document.getElementById('tableTemplate').innerHTML;
                    laytpl(gettpl).render(resultObj.ItemList, function (html)
                    {
                        document.getElementById('divTableBodyContainer').innerHTML = html;
                        fitTable();
                    });

                    laypage({
                        skin: 'yahei',
                        cont: document.getElementById('divPagingContainer'),
                        pages: resultObj.TotalPage, //总页数
                        curr: resultObj.Page, //当前页
                        groups: 7, //连续显示分页数
                        jump: function (obj, first)
                        {
                            if (!first)
                            { //点击跳页触发函数自身，并传递当前页：obj.curr
                                loadData(obj.curr);
                            }
                        }
                    });

                } else
                {
                    layerAlert(data.Message);
                }
            },
            error: function (xmlHttpRequest)
            {
                layer.close(loadLayerIndex);
                alert("Error: " + xmlHttpRequest.status);
            }
        });
    }

    function loadDataAndCloseLayer(layerIndex)
    {
        layer.close(layerIndex);
        loadData();
    }

    function loadDataOnPageAndCloseLayer(layerIndex)
    {
        layer.close(layerIndex);
        loadData(_currentPage);
    }

    function scrollHeader()
    {
        // alert(divTableBodyContainer.scrollLeft);
        var ml = 0 - divTableBodyContainer.scrollLeft;
        document.getElementById("tableHeader").style.cssText = "margin-left:" + ml + "px;";
    }

    function fitTable()
    {
        $("#tableBody").width($("#tableHeader").width());

        $("#tableHeader tr:first").each(function (n, value)
        {
            $(this).find("td").each(function (n, value)
            {
                $("#tableBody tr:first td:eq(" + n + ")").width(value.width)
            });
        });
    }

    function create()
    {
        //alert(0);
        layer.open({
            type: 2,
            area: ['600px', '100%'], //宽高
            closeBtn: false,
            title: "",
            shift: _layerShift,
            content: 'OneDollarBuyingCommodityEdit'
        });
    }

    function modify(id)
    {
        layer.open({
            type: 2,
            area: ['600px', '100%'], //宽高
            closeBtn: false,
            title: "",
            shift: _layerShift,
            content: 'OneDollarBuyingCommodityEdit?id=' + id
        });
    }

    function removeData()
    {
        var args = new Object();
        args.IdList = new Array();
        var n = 0;

        $("#tableBody input").each(function (index, element)
        {
            if ($(element).is(':checked'))
            {
                args.IdList[n] = $(element).attr("value");
                n++;
            }
        });

        if (args.IdList.length == 0)
        {
            layerAlert("请选择要删除的商品。");
            return;
        }

        var confirmLayerIndex = layer.confirm("是否确认删除选中的商品？", {
            btn: ['确认', '取消'], //按钮
            shade: [0.4, '#393D49'],
            title: false,
            closeBtn: false,
            shift: _layerShift
        }, function ()
        {
            layer.close(confirmLayerIndex);

            var loadLayerIndex = layer.load(0, {
                shade: [0.2, '#fff']
            });

            $.ajax({
                url: "/Api/OneDollarBuying/BatchRemoveCommodity",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(args),
                success: function (data, status, jqXHR)
                {
                    layer.close(loadLayerIndex);
                    if (data.Success)
                    {
                        loadData(_currentPage);

                    } else
                    {
                        layerAlert(data.Message);
                    }
                },
                error: function (xmlHttpRequest)
                {
                    layer.close(loadLayerIndex);
                    alert("Error: " + xmlHttpRequest.status);
                }
            });
        });
    }

    function showForSaleList(id) {
        window.location.href = "/Pay/OneDollarBuyingCommodityForSaleList?id=" + id;
    }

</script>

<script id="tableTemplate" type="text/html">

    <table id="tableBody" border="0" cellspacing="0" cellpadding="0">

        {{# for(var i = 0, len = d.length; i < len; i++){ }}
        <tr>
            <td><input type="checkbox" value="{{ d[i].Id }}" /></td>
            <td height="35"><a href="javascript:void(0)" onclick="modify('{{ d[i].Id }}')">{{ d[i].Name }}</a></td>
            <td>{{ d[i].Price }}</td>
            <td>
                {{# if(d[i].InfiniteStock == true){ }}
                无限
                {{# }else{ }}
                {{ d[i].Stock }}
                {{# } }}
            </td>
            <td>{{ d[i].Sold }}</td>
            <td>{{# if(d[i].ForSale == true){ }}是{{# }else{ }}否{{# } }}</td>
            <td><a href="javascript:void(0)" onclick="showForSaleList('{{ d[i].Id }}')">查看销售情况</a></td>
        </tr>
        {{# } }}

    </table>

</script>

<div id="divContentTips">
    1元夺宝的商品将滚动上架销售。
</div>

<div style="margin-top:10px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td bgcolor="#F6F6F6">
                <div style="padding:10px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="60">名称：</td>
                            <td width="220"> <input name="txtSearch_Name" type="text" class="input_16" style="width:200px;" id="txtSearch_Name" maxlength="50" keyenter /></td>
                            <td>
                                <span style=" margin-top:20px;">
                                    <input name="btnSearch" type="button" class="btn_blue" id="btnSearch" value="查询" onclick="loadData()" />
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>
        <tr style="height:5px;background-image:url(/Content/Images/searchArea_bottom.jpg);background-repeat: repeat-x;">
            <td></td>
        </tr>
    </table>

</div>

<div style=" margin-top:20px;">
    <input name="btnCreate" type="button" class="btn_blue" id="btnCreate" value="添 加" onclick="create()" />
    <div style="float:right">
        <input name="btnRemove" type="button" class="btn_red" id="btnRemove" value="删 除" style="margin-left:5px;" onclick="removeData()" />
    </div>
</div>

<div style=" margin-top:20px">
    <div style="overflow:hidden; padding-left:20px;" class="tableHeader">
        <table id="tableHeader" border="0" cellspacing="0" cellpadding="0" width="760" height="47">
            <tr>
                <td width="50"></td>
                <td width="260">名称</td>
                <td width="100">价格（元）</td>
                <td width="100">库存</td>
                <td width="100">已售</td>
                <td width="60">上架</td>
                <td width="100"></td>
            </tr>
        </table>
    </div>

    <div style=" margin-top:10px">
        <!--div必须要设置height，否则滚动条出不来-->
        <div id="divTableBodyContainer" style="overflow:auto; height:100%;padding-left:20px;" onscroll="scrollHeader()">
            @*<div style="background-color:aqua" id="demo1"></div>*@
            <!--table必须要有一个确切的宽度，否则无法超出div-->
            @*<table id="tableBody" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td height="35"><a href="#">电子影票一张</a></td>
                        <td>20</td>
                        <td>100</td>
                        <td>12</td>
                        <td>是</td>
                    </tr>
                </table>*@
        </div>

    </div>

</div>

<div style="height:1px; margin-top:5px; background-color:#cccccc">

</div>

<div id="divPagingContainer" style=" margin-top:20px; margin-bottom:20px;text-align:right; ">

</div>
