
@{
    ViewBag.Title = "AutoReplyText";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}


<script>

    var _validator;

    $(document).ready(function ()
    {
        _validator = $("#form").validate({
            onfocusout: false,
            onkeyup: false,
            showErrors: showValidationErrors,
            rules: {
                "txtText": "required"
            },
            messages: {
                "txtText": "请输入回复文字；"
            }
        });
    });

    function save()
    {
        if (_validator.form() == false)
        {
            return;
        }

        var index = parent.layer.getFrameIndex(window.name);
       
        parent.insertReplyTextContent($("#txtText").val(), index);
    }

    function cancel()
    {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>


<div style="margin-left:20px; margin-right:20px; margin-top:20px;">
    <span id="spanTitle" class="font_black_24">回复文字</span>
</div>

<div style=" background-color:#ccc; margin-left:20px; margin-right:20px; margin-top:10px; height:1px;">

</div>

<div style=" position:absolute; overflow:auto ;margin-top:25px;left:30px; right:30px; bottom:60px; top:50px; ">

    <form id="form">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <textarea name="txtText" rows="6" class="input_18" id="txtText" maxlength="300"></textarea>
                </td>
            </tr>

        </table>


    </form>

</div>

<div style=" background-color:#ccc; position:absolute; bottom:55px; left:20px;right:20px; height:1px;">

</div>

<div style="position:absolute; bottom:15px; left:20px;right:20px;">

    <!--
            <div style="float:left;">
                <input name="btnSave" type="button" class="btn_red" id="btnSave" value="删 除" />
            </div>-->

    <div style="float:right">
        <input name="btnSave" type="button" class="btn_blue" id="btnSave" value="保 存" onclick="save()" />
        <input name="btnCancel" type="button" class="btn_blue" id="btnCancel" value="取 消" onclick="cancel()" />
    </div>
    <div style="clear:both">
    </div>
</div>