USE [master]
GO
/****** Object:  Database [WxConstruction_File]    Script Date: 2017/9/22 11:09:58 ******/
CREATE DATABASE [WxConstruction_File]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WxConstruction_File', FILENAME = N'D:\Database\WxConstruction_File.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WxConstruction_File_log', FILENAME = N'D:\Database\WxConstruction_File_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WxConstruction_File].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WxConstruction_File]
GO
USE [WxConstruction_File]
GO
/****** Object:  Table [dbo].[File]    Script Date: 2017/9/22 11:09:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[Id] [uniqueidentifier] NOT NULL,
	[Domain] [uniqueidentifier] NOT NULL,
	[FileName] [varchar](600) NOT NULL,
	[StoredFileName] [varchar](50) NOT NULL,
	[Length] [int] NOT NULL,
	[MD5] [char](32) NULL,
	[UploadDate] [smalldatetime] NOT NULL,
	[UploadIPAddress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileDownloadQueue]    Script Date: 2017/9/22 11:09:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileDownloadQueue](
	[Id] [uniqueidentifier] NOT NULL,
	[Domain] [uniqueidentifier] NOT NULL,
	[AppId] [varchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[FinishTime] [datetime] NULL,
	[MediaId] [varchar](100) NULL,
	[CallbackUrl] [varchar](1000) NOT NULL,
	[Tag] [varchar](1000) NULL,
	[Status] [tinyint] NOT NULL,
	[Success] [bit] NULL,
	[Message] [varchar](1000) NULL,
	[OutputFile] [varchar](1000) NULL,
	[ContentType] [varchar](50) NULL,
	[FileLength] [int] NULL,
 CONSTRAINT [PK_FileDownloadQueue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileDownloadQueue] ADD  CONSTRAINT [DF_FileDownloadQueue_Status]  DEFAULT ((0)) FOR [Status]
GO
USE [master]
GO
