@{
    ViewBag.SubTitle = "积分账户";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<style type="text/css">
 body {
        /*margin-top: 1.5rem;*/
         margin-top: 1.2rem;
        margin-bottom: 0.55rem;
    }

    #divTopTitleBar {
        position: fixed;
        left: 0rem;
        right: 0rem;
        /*top: 1rem;*/
         top:0.7rem;
        height: 0.4rem;
        background-color: white;
    }

    .divBillTitle {
        font-size: 0.13rem;
    }

    .divBillDateTime {
        font-size: 0.13rem;
    }

    .divPointIncrement {
        color: #FF541B;
        font-weight: bold;
        font-size: 0.16rem;
    }

    .divPointDecrement {
        color: #00B200;
        font-weight: bold;
        font-size: 0.16rem;
    }

    #divFooter {
        background-color: white;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 0.4rem;
        font-size: 0.13rem;
        text-align: center;
    }
</style>

<script>

    //当前页
    var _currentPage = 1;
    var _totalPage = 1;

    $(document).ready(function () {
        loadData();
    });

    function loadData(targetPage) {
        if (targetPage > _totalPage)
            return;

        var loadLayerIndex = layer.open({
            type: 2,
            shadeClose: false,
            content: '请稍候...'
        });

        var args = new Object();
        args.Page = targetPage || 1;
        args.PageSize = 10;

        $.ajax({
            url: "/Api/Member/GetPointAccount/@ViewBag.Domain.Id",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(args),
            success: function (data, status, jqXHR) {
                // alert(data);

                layer.close(loadLayerIndex);
                if (data.Success) {
                    var resultObj = data.Data;

                    //alert(JSON.stringify(resultObj));
                    var gettpl = document.getElementById('pointAccountListTemplate').innerHTML;
                    laytpl(gettpl).render(resultObj.ItemList, function (html) {
                        document.getElementById('pointAccountContainer').innerHTML += html;
                    });

                    _currentPage = resultObj.Page;
                    _totalPage = resultObj.TotalPage;
                    if (_currentPage >= _totalPage) {
                        $("#divPagingContainer").html("没有更多了");
                    }

                } else {
                    layerAlert(data.Message);
                }
            },
            error: function (xmlHttpRequest) {
                layer.close(loadLayerIndex);
                //alert("Error: " + xmlHttpRequest.status);
            }
        });
    }

</script>

<script id="pointAccountListTemplate" type="text/html">

    {{# for(var i = 0, len = d.length; i < len; i++){ }}

    <div style="margin-top:0.1rem;">
        <div>
            <div style="float:left" class="divBillTitle">
                {{# if(d[i].Type == 0){ }}
                未知
                {{# }else if(d[i].Type == 1){ }}
                积分商城
                {{# }else if(d[i].Type == 2){ }}
                人工操作
                {{# }else if(d[i].Type == 3){ }}
                每日签到
                {{# }else if(d[i].Type == 4){ }}
                首次关注奖励
                {{# }else if(d[i].Type == 5){ }}
                活动奖励
                {{# }else if(d[i].Type == 6){ }}
                抽奖活动消费
                {{# }else if(d[i].Type == 7){ }}
                会员推广奖励
                {{# } }}
            </div>
            <div style="float:right" class="divBillDateTime">
                {{ d[i].ChangeTime }}
            </div>
            <div style="clear:both"></div>
        </div>
        <div style="margin-top:0.1rem;">
            <div style="float:left" class="{{# if(d[i].Quantity >= 0){ }}divPointIncrement{{# }else{ }}divPointDecrement{{# } }}">
                {{# if(d[i].Quantity >= 0){ }}
                +{{#}}}{{d[i].Quantity}}
            </div>
            {{# if(d[i].Type == 1){ }}
            <div style="float:right" onclick="goUrl('/Home/PointCommodityOrderDetail/@ViewBag.Domain.Id?id={{ d[i].TagId }}')">
                <div class="divRectangle">{{ d[i].TagName }}</div>
            </div>
            {{# } }}
            {{# if(d[i].Type == 2){ }}
            <div style="float:right" class="divCampaign">
                {{ d[i].Remark }}
            </div>
            {{# } }}
            {{# if(d[i].Type == 5){ }}
            <div style="float:right" class="divCampaign">
                {{ d[i].TagName }}
            </div>
            {{# } }}
            {{# if(d[i].Type == 6){ }}
            <div style="float:right" class="divBillPointCommodity"
                 onclick="goUrl('/Campaign/Lottery/@ViewBag.Domain.Id?id={{ d[i].TagId }}')">
                {{ d[i].TagName }}
            </div>
            {{# } }}
            <div style="clear:both"></div>
        </div>
    </div>

    <div class="divDotLine" style="margin-top:0.1rem; ">
    </div>

    {{# } }}

</script>



@Helpers.HeaderArea(ViewBag, "point")

<div id="divTopTitleBar">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:100%">
        <tr style="height:0.27rem;">
            <td width="33%" align="center"><div onclick="goUrl('/Home/PointAccount/@ViewBag.Domain.Id')">积分账户</div></td>
            <td width="33%" align="center"><div onclick="goUrl('/Pay/CashAccountTrack/@ViewBag.Domain.Id')">现金账户</div></td>
            <td width="33%" align="center"><div onclick="goUrl('/Home/Coupon/@ViewBag.Domain.Id')">我的卡券</div></td>
        </tr>
        <tr style="height:0.03rem;">
            <td class="defaultBgColor"></td>
            <td bgcolor="#E4E4E4"></td>
            <td bgcolor="#E4E4E4"></td>
        </tr>
    </table>

</div>

<div class="divContent" style="margin-top:0.2rem;">

    <div id="pointAccountContainer">


    </div>

    <div id="divPagingContainer" class="divPagingContainer" style="margin-top:0.2rem; text-align:center" onclick="loadData(_currentPage + 1)">
        查看更多
    </div>

</div>

<div id="divFooter">
    <table align="center" style="height:100%;width:100%">
        <tr>
            <td style="background-color: #F5F5F5;height:0.01rem;"></td>
        </tr>
        <tr>
            <td class="defaultColor" valign="middle" align="center">
                @*做任务，赚积分 >*@
            </td>
        </tr>
    </table>
</div>
