
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    <title>升讯威微信营销系统</title>

    <link href="/Content/Style.css" rel="stylesheet" type="text/css">

    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/common")


    <style>
        body {
            margin: 0rem;
            margin-top: 0rem;
            background-image: url(/Content/Images/staffLogin_bg.jpg);
            background-repeat: repeat;
        }

        #divLogo {
            font-size: 0.22rem;
            color: #66ABF0;
            font-family: "黑体";
        }

        .subTitle {
            font-size: 0.16rem;
            color: #777777;
            font-family: "黑体";
        }

        #divLoginButton {
            font-size: 0.16rem;
            color: #66ABF0;
            font-family: "黑体";
            padding-top: 0.07rem;
            padding-right: 0.2rem;
            padding-bottom: 0.07rem;
            padding-left: 0.2rem;
            border: 1px solid #66ABF0;
        }

        .input_noborder {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            font-size: 0.2rem;
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
            padding: 0.06rem;
            width: 100%;
        }
    </style>

</head>
<body>
    <div id="divLogo" style="margin-left:0.2rem;margin-top:0.2rem;">
        升讯威微信营销系统
    </div>
    <div style="margin-top:0.2rem; margin-right:0.2rem;">
        <div class="subTitle" style="float:right">
            五分钟零门槛对接
        </div>
        <div style="clear:both"></div>
    </div>
    <div style="margin-top:0.1rem; margin-right:0.5rem;">
        <div class="subTitle" style="float:right">
            营销与传播创造新利润
        </div>
        <div style="clear:both"></div>
    </div>
    <div style="margin-left:0.3rem; margin-right:0.3rem; margin-top:0.3rem">
        <div>
            账户：
        </div>
        <div style="margin-top:0.1rem">
            <input class="input_noborder" />
        </div>
        <div style="margin-top:0.15rem">
            密码：
        </div>
        <div style="margin-top:0.1rem">
            <input class="input_noborder" type="password" />
        </div>
        <div style="text-align:center;margin-top:0.25rem;">
            <table border="0" align="center" cellpadding="0" cellspacing="0" style="width:1rem;">
                <tr>
                    <td>
                        <div id="divLoginButton">
                            登录
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <div style="font-size:0.12rem; text-align:center;position:absolute;bottom:0.1rem;left:0rem;right:0rem;">
            <div>
                <a href="http://wx.shengxunwei.com" style="color:#2687EA;text-decoration: none;">http://wx.shengxunwei.com</a>
            </div>
            <div style="color:#525252">
                © Copyright 2016 All Rights Reserved<br />
                滁州市升讯威软件技术有限公司
            </div>
        </div>
    </div>
</body>
</html>
