
@{
    ViewBag.Title = "提示";
    Layout = "~/Areas/M/Views/Shared/_Layout.cshtml";
}

<div class="divContent" style="margin-top:0.6rem;">

    <div style="margin-left:0.15rem;margin-right:0.15rem;">
        <div style="float:left;color:#4699EC">
            提示
        </div>
        <div style="float:right">
            <a href="http://wx.shengxunwei.com/M" style="color:#FF794C;font-size:0.14rem;text-decoration:none">访问官网 ></a>
        </div>
        <div style="clear:both">
        </div>
    </div>

    <div class="divDotLine" style="margin-top:0.1rem; margin-bottom:0.1rem;">
    </div>

    <div style="margin-top:0.2rem; margin-left:0.15rem;margin-right:0.15rem;font-size:0.13rem;line-height:0.2rem;">
        手机端管理后台需在微信中使用。
    </div>

    <div style="margin-top:0.2rem; margin-left:0.15rem;margin-right:0.15rem;font-size:0.13rem;line-height:0.2rem;">
        1.在电脑版后台“系统”下的“用户管理”中为您的管理员账户绑定微信；<br />
        2.在“微官网”下的“公众号菜单”中，添加“后台入口”菜单即可从公众号中直接进入手机端管理后台。<br/><br />
        也可以将提示的后台入口 URL 收藏到您的微信中单独访问，而不将其添加到菜单中。
    </div>


</div>
